@media screen and (max-width: 1199px)
   .nav__box
      flex-direction: column
   .nav__list
      margin-bottom: 20px
   .main
      padding-top: 30px
   .main__top
      margin-bottom: 30px
      flex-direction: column
   .main__logo
      margin-bottom: 30px
   .main__text
      margin-bottom: 30px
   .main__wrap
      padding: 40px
   .main__flex
      margin-top: 30px
   .main video
      height: 350px
      position: relative
      z-index: 1
   .main
      &:before, &:after 
         height: 474px
   .prog
      padding: 60px 0 40px
   .prog h2
      margin-bottom: 30px
   .prog .tabs__nav
      margin-bottom: 30px
   .speakers
      padding: 30px 0 40px
   .speakers h2
      margin-bottom: 30px
   .pag
      margin-top: 40px
      display: flex !important
   .speakers__btns
      margin-top: 60px
   .faq
      padding: 40px 0
   .faq h2
      margin-bottom: 30px
   .par
      padding: 40px 0
   .par h2
      margin-bottom: 30px
   .par .swiper2 .swiper-wrapper .swiper-slide
      margin-bottom: 0
   .footer
      padding-top: 40px
   .footer h2
      margin-bottom: 50px
   .footer__box
      margin-bottom: 40px
      flex-direction: column
   .footer__logo
      width: 180px
      margin: 0 auto 40px
   .footer__content
      max-width: 100% 
   .nav__info
      width: 100%
      flex-direction: column
      a 
         height: 60px
         font-size: 18px
         width: 100% !important
   .swiper1 
      .swiper-slide 
         width: 31% !important
         &:nth-child(3n)
            margin-right: 0 !important
   .speakers .swiper1 .swiper-wrapper .swiper-slide:nth-child(4n)
      margin-right: 20px !important
   .par .swiper2 .swiper-wrapper
      gap: 20px
   .par .swiper2 .swiper-wrapper .swiper-slide
      width: 48.8% !important
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .main__logo
      width: 300px
   .main__content h1 
      height: 61px
      padding: 0px 22px 0 28px
      margin-bottom: 30px
      font-size: 33px
   .main__content p, .main__text, .prog__content h3
      font-size: 18px
      line-height: 22px
   .main__top
      margin-bottom: 20px
   .main__text
      margin-bottom: 20px
   .main__row
      flex-direction: column
   .main__item
      width: 100%
   .main__block
      width: 30%
      margin: 10px
   .main__flex
      margin-top: 20px
      flex-wrap: wrap 
      justify-content: center
   h2 
      font-size: 28px
      line-height: 32px
   .main__area
      margin-bottom: 10px
      height: 120px
      background: transparent
      padding: 20px 20px 10px
      img 
         max-width: 100%
         width: 100%
         height: auto
         max-height: 100%
   .main__block p
      text-align: center
      margin: 0 auto
      font-size: 14px
      line-height: 16px
   .prog__time
      font-size: 14px
   .prog__info
      margin-top: 20px
   .speakers .swiper1 .swiper-wrapper .swiper-slide img
      height: 200px
   .speakers__btns
      margin-top: 40px
      flex-direction: column
   .speakers__btns a
      width: 100%
   .speakers__btns a:first-child
      margin-bottom: 10px
   .faq .accordeon__item
      margin-bottom: 15px
   .footer__content
      align-content: center
      flex-direction: column
   .footer__item
      margin: 0 auto 30px
      text-align: center
      &:last-child
         margin-bottom: 0
   .footer__item p:first-of-type
      margin-bottom: 10px
   .footer__item .footer__link
      margin: 10px auto 0
   .footer__bottom
      padding: 20px 0
      flex-direction: column
   .footer__bottom p
      order: 2
      text-align: center
   .footer__links
      order: 1
      flex-direction: column 
      gap: 0
      margin-bottom: 10px
      justify-content: center
   .footer__links a
      margin: 0 auto 5px
   .footer__logo
      margin-bottom: 25px
   .swiper1 
      .swiper-slide 
         width: 48% !important
   .speakers .swiper1 .swiper-wrapper .swiper-slide
      margin-right: 0px !important
   .speakers .swiper1 .swiper-wrapper .swiper-slide:nth-child(4n)
      margin-right: 0 !important
   .speakers .swiper1 .swiper-wrapper
      justify-content: space-between
   .par .swiper2 .swiper-wrapper .swiper-slide
      width: 48.5% !important
@media screen and (max-width: 767px)
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 56px
      height: 56px
      position: absolute
      top: 0px
      right: 0px
      z-index: 11
      background: url(/img/bur1.svg) no-repeat center center
      overflow: hidden
   .menu 
      position: fixed
      top: 0
      right: 0
      width: 100%
      height: 100%
      padding: 80px 30px 40px
      background: white
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 7
      overflow: hidden
      text-align: left
      .nav__list 
         gap: 35px
         flex-direction: column
         display: flex
         text-align: center
         justify-content: center
         align-items: center
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      top: 0px
      right: 0px
      z-index: 11
      background: url(/img/bur2.svg) no-repeat center center
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .nav__list
      display: none
   .nav__box
      position: relative
   .nav
      padding: 20px 0
   .nav__info
      margin-top: 86px
   .main__logo 
      left: 15px
      width: 164px
      position: absolute
      top: -244px
   .main 
      padding-top: 20px
      .container 
         position: relative
   .main__block 
      width: 45%
   .pag
      margin-top: 20px
   .faq .accordeon__button
      font-size: 18px
      line-height: 23px
   .faq .panel__text
      padding: 20px 60px 20px 24px
   .faq
      padding-bottom: 20px
   .par
      padding-bottom: 20px
   .footer__box
      margin-bottom: 20px
   .main 
      h2 
         text-align: center
   .par .swiper2 .swiper-wrapper .swiper-slide
      width: 48% !important
   .nav__list li a .svg
      display: none
   .popup-call__box
      top: -20rem
      padding: 20px
      width: 100%
      left: 0
      margin-left: 0
   .arcticmodal-container_i
      width: 100%
   .popup__title 
      font-size: 25px
      line-height: 32px
      margin-bottom: 20px
   .popup__item
      width: 100%
      margin-bottom: 30px
   .popup__item input
      font-size: 14px
   .popup__flex .custom-checkbox + label span 
      font-size: 13px
      line-height: 15px
   .popup__bottom
      margin-bottom: 20px
   .popup__form button 
      width: 100%
      height: 60px
      font-size: 25px
      line-height: 37px
      margin-bottom: 20px
   .popup__sub
      font-size: 12px
      line-height: 17px
   .popup__item span
      left: 35px
   .popup__item_2 span
      left: 74px
   .popup__item_3 span
      left: 68px
   .popup__item_4 span
      left: 50px
   .popup__sub
      br 
         display: none
   .popup__info 
      width: 100%
      height: auto
      font-size: 12px
      line-height: 21px
      flex-direction: column
      padding: 10px
   #popup-call2 .popup__item_1 span
      left: 159px
   #popup-call2 .popup__item_2 span
      left: 42px
   #popup-call2 .popup__item_3 span
      left: 59px
   #popup-call2 .popup__item_4 span
      left: 227px
   #popup-call2 .popup__item_6 span
      left: 71px
   #popup-call2 .popup__item_7 span
      left: 53px
   #popup-call2 .popup__item_8 span
      left: 193px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
      display: block !important
   .main__logo
      top: -223px
   .menu
      padding-top: 108px
   .main__content
      width: 100%
   .main__content h1 
      height: auto
      padding: 10px
      margin-bottom: 30px
      font-size: 28px
      width: 100%
      box-sizing: border-box
   .main
      padding-top: 0
   .main video
      height: 280px
   .main__item p
      font-size: 18px
   .main__wrap
      padding: 30px 20px 50px
   h2 
      font-size: 23px
      line-height: 31px
   .main__block 
      width: 49%
      margin: 0 auto 30px
      &:last-child
         margin-bottom: 0
   .main__area img
      max-width: 59%
   .main__area
      margin-bottom: 0
   .main__block p
      text-align: center
      margin: 0 auto
   .main:before, .main:after
      height: 917px
   .main__text
      br 
         display: none
   .main__content span
      font-size: 21px
   .prog .tabs__nav a 
      width: 160px
      font-size: 21px
      line-height: 24px
   .prog .tabs__nav
      margin-bottom: 20px
   .prog__item
      padding: 20px 0 
      flex-direction: column
   .prog__time
      margin-right: 0
      margin-bottom: 15px
      min-width: initial
   .prog
      padding-bottom: 20px
   .speakers .swiper1 .swiper-wrapper .swiper-slide img
      height: auto
      margin-bottom: 10px
   .speakers .swiper1 .swiper-wrapper .swiper-slide h3
      font-size: 18px
   .speakers .swiper1 .swiper-wrapper .swiper-slide p
      font-size: 13px
      br 
         display: none
   .speakers 
      .pag 
         margin-top: 20px
   .speakers__btns
      margin-top: 50px
   .speakers__btns a
      font-size: 18px
      height: 60px
   .speakers .swiper1 .swiper-wrapper .swiper-slide:nth-child(4n), .par .swiper2 .swiper-wrapper .swiper-slide:nth-child(4n)
      margin-right: 0px !important
   .faq .accordeon__button
      padding: 20px 80px 20px 20px
   .faq .accordeon__button:after
      background-size: 100%  !important
      width: 20px
      height: 20px 
      top: 50%
      margin-top: -10px
   .par .swiper2 .swiper-wrapper .swiper-slide
      width: 47.3% !important
   .par .swiper2 .swiper-wrapper .swiper-slide:nth-child(12) img 
      height: 95px !important
   .par .swiper2 .swiper-wrapper .swiper-slide:nth-child(11) img
      height: 51px !important
   .speakers
      padding-bottom: 20px
@media screen and (max-width: 400px)
   .par .swiper2 .swiper-wrapper .swiper-slide
      width: 46.6% !important


